<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>login form</h1>
					<p>Welcome to templating using EJS</p>
				</div>
				
			</div>
			
<form action="/login" id="login" method="POST">
    <lable for="username">
        User Name
    </lable>
    <input id="username" name="username" type="text"/>
    <lable for="password">
        Password
    </lable>
    <input id="password" name="password" type="text"/>
    <input type="submit" value="Log In"/>
</form>
<!-- <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div> -->

  <%= message %>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>