<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <main>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="/login" id="login" method="POST">
                        <fieldset>
                       <p> <%= message %></p>
                            <div class="form-group">
                                <label for="username">
                                    User name:
                                </label>
                                <input class="form-control" id="txt" name="username" onkeyup="Validate(this)" placeholder="minimum 6 letters" required="" type="text"/>
                                <div id="errLast">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    <span class="req">
                                        *
                                    </span>
                                    Password:
                                </label>
                                <input class="form-control inputpass" id="password" maxlength="16" minlength="4" name="password" required="" type="password"/>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success" type="submit" value="Log In"/>
                            </div>
                                        <span>don't have account<a href="/signup">  please register </a> </span>

                            <!-- ends login form -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
<script type="text/javascript">
    document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
</script>
<!-- ends col-6 -->

<footer>
    <% include ../partials/footer %>
</footer>
